body {
  color: #777777;
}

button {
  outline: none;
  border: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding: 6px 10px;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  -webkit-border-top-left-radius: 4px !important;
  -webkit-border-top-right-radius: 4px !important;
  -webkit-border-bottom-right-radius: 4px !important;
  -webkit-border-bottom-left-radius: 4px !important;
  background-color: #60ab59;
  color: #fff;

  &:hover {
    background-color: #50944A;
  }

  &:active {
    background-color: #487943;
  }
}

#header {
  background-color: #50944A;
  margin-bottom: 20px;
  color: #fff;
  padding-bottom: 15px;

  a {
    color: #fff;
  }
}

.quiz-product h4 {
  margin-top: 0;
}

.quiz-submit {
  padding: 15px 0;

  button {
    margin-top: 25px;
  }
}

.quiz-answer {
  padding: 0;
}

button#quiz-start {
  margin-top: 15px;
}

#logo {
  font-size: 28px;
}

.quiz-image {
  margin: 0;
  border: 5px solid white;

  &:hover {
    cursor: pointer;
  }
}

div.quiz-answer.radio-inline {
  margin-left: 0;
}

input[type="radio"] {
  visibility: hidden;
  display: none;
}

input[type="radio"]:checked {
  border: 1px solid;
}