<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-3">
    <dl class="dl-horizontal">
      <dt>
        Time remaining:
      </dt>
      <dd>
        <span id="countdown-remaining">2:00</span>
      </dd>
      <dt>
        Progress:
      </dt>
      <dd>
        <span id="progress-remaining">0</span> / <span id="progress-total"><%= @quiz.questions_count %></span>
      </dd>
    </dl>

  </div>
  <div class="col-xs-12 col-sm-8 col-md-9">
    <div id="description">
      <p>
        We always strive to ensure that our customers get the products that they ordered. Sometimes this can be tricky, with different products appearing very similar.
      </p>

      <p>
        The following quiz presents real-world product descriptions along with options you may see in-store. For each question, select the image that represents the product description.
      </p>

      <p>
        You have two minutes to complete as many questions as you can.
      </p>
    </div>

    <button id="quiz-start">Start Quiz</button>

    <%= render 'form' %>
  </div>
</div>
